{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Coordx</th>
                <th>Coordy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boat in boats %}
            <tr>
                <td><a href="{{ path('boat_show', { 'id': boat.id }) }}">{{ boat.id }}</a></td>
                <td>{{ boat.name }}</td>
                <td>{{ boat.coordX }}</td>
                <td>{{ boat.coordY }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('boat_show', { 'id': boat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('boat_edit', { 'id': boat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boat_new') }}">Create a new boat</a>
        </li>
    </ul>
{% endblock %}
